// showing default values
$accentColor = #ff239d// #3eaf7c
$textColor = #333 // #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #ff239d;
}

*::-webkit-scrollbar-corner {
  background-color: #ff239d;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff239d;
}

*::-webkit-scrollbar-track {
  background-color: #eaecef;
}

*::-webkit-scrollbar-track-piece {
  background-color: #eaecef;
}

.sidebar-links > li > a {
  font-weight: 500; // color: #ff239d;
}

.spaced-items img {
  margin-left: 10px;
}

.search-box .suggestion.focused {
  background-color: rgba(255, 35, 157, .06);
}

.no-border-table tr:nth-child(2n) {
  background-color: #ffffff;
}

.no-border-table img {
  min-width: 120px;
}

.no-border-table tbody * {
  font-size: 14px;
}

.no-border-table .race-badge td span {
  display: inline-block;
  font-size: 11px !important;
  vertical-align: middle;
  border-radius: 3px;
  padding: 0px 4px 2px;
  color: #fff;
}

.no-border-table .jibril td span {
  background-color: rgb(255, 35, 157);
}

.no-border-table .shuvi td span {
  background-color: rgb(194, 19, 96);
}